@keyframes discoverFromLeft {
    0% {
        width: 0;
    }
    100% {
    }
}

.star-ratings {
    --star-size: min(3vh, 2.5vw);
    font-size: calc(var(--star-size) - 1vh);
    padding: var(--space-4);
    gap: var(--space-3);
    color: #ccc;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    .fill-ratings {
        font-size: var(--star-size);
        padding: 0;
        position: absolute;
        z-index: 1;
        overflow: hidden;
        transition: width 2s;
        animation: discoverFromLeft 2s linear;

        span {
            color: #e7711b;
            display: inline-block;
            overflow: hidden;
        }
    }
    .empty-ratings {
        font-size: var(--star-size);
        position: relative;
        padding: 0;
        display: block;
        z-index: 0;
    }
}

@media screen and (max-width: 800px) {
    .star-ratings {
        --star-size: 3vw;
        font-size: calc(var(--star-size));
        .fill-ratings {
            font-size: var(--star-size);
        }
        .empty-ratings {
            font-size: var(--star-size);
        }
    }
}
