:root {
    --background-color: hsl(37, 10%, 8%);
    --card-color: #262421;
    --text-primary: #bababa;

    --primary-color: #1a1a1a;
    --contrast-text-color: #eae0c2;
    --secondary-color: #eae0c2;
    --nav-button-color: var(--secondary-color);
    --tertiary-color: #ccc2a6;
}
