$blue700: #1a1a40;
$blue600: #2c2c66;
$black: #000;
$grey100: #fdfcfc;
$grey200: #f5f1f1;
$purple100: #7a0bc0;
$purple200: #650c9d;

$red: #6a0505
#3d0202 
#1a0101,
#0a5f0a,
#2c0e3f
#3f3f3f
#000
#FFF
