.root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}
