@mixin sliceIn($name, $from, $to) {
    @keyframes #{$name} {
        0% {
            transform: translateX(0);
            position: relative;
        }
        99% {
            transform: translateX($to);
        }
        100% {
            position: absolute;
        }
    }
}

@keyframes img-hover-amination {
    0% {
        background-position: top left;
    }
    25% {
        background-position: top right;
    }

    50% {
        background-position: bottom right;
    }

    75% {
        background-position: bottom left;
    }
    100% {
        background-position: top left;
    }
}

.imageGallery {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    place-items: center;
    .img {
        box-sizing: border-box;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        transition: all 1s;

        img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            padding: 10px;
            cursor: pointer;
        }

        img:hover,
        img:focus {
            background-image: radial-gradient(transparent 30%, white);
            background-position: left;
            background-size: 150% 150%;
            animation: img-hover-amination 4s linear infinite;
        }
    }

    @for $i from 1 to 4 {
        :nth-child(#{$i}).open {
            z-index: 1;
            transform: translateX(calc(($i - 1) * -100% - 50px));
            opacity: 1;
            transition: all 1s;
        }
    }
}

.description {
    white-space: pre-line;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: var(--space-4);
    opacity: 0;
    background-color: var(--background-color);
    transition: all 1s;

    img {
        overflow: hidden;
        border-radius: 50%;
        max-width: 100px;
        min-height: 100px;
        transition: all 1s;
    }

    .description-content {
        height: 100%;
        overflow: hidden;
        padding-left: 100px;
        padding-right: 100px;
    }

    .description-title {
        gap: var(--space-4);
        display: flex;
        padding-left: 100px;
        padding-right: 100px;
    }
}

.description-open {
    opacity: 1;
    z-index: 2;
    height: 100%;
    transition: all 1s;
}

.title {
    padding-left: var(--space-4);
    padding-bottom: var(--space-2);
}
