@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.animated-list {
    --list-item-size: 3vh;
    height: calc((var(--list-item-size) + var(--space-2)) * 5);
    width: 100%;
    position: relative;
    top: 0;

    .animated-list-item {
        position: absolute;
        transition: top 2s;
        display: block;
        z-index: 1;
        opacity: 0;
    }

    @for $i from 0 to 5 {
        .animated-list-item-#{$i} {
            animation: fadeIn 4s;
            z-index: 1;
            top: calc(($i) * (var(--list-item-size) + var(--space-3)));
            opacity: 1;
        }
    }
}
