.root {
    //--row-heigth: calc(100 / 6 * 1% * 1px);
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 1fr;
    padding: var(--space-4);
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-areas:
        'picture history'
        'profile history'
        'profile history';
}

.profile {
    display: grid;
    grid-template-areas:
        'contacts'
        'langages'
        'interests'
        'social';
    grid-area: profile;
    border-right: 0.2em solid var(--secondary-color);
}

.picture {
    position: relative;
    grid-area: picture;
    border-right: 0.2em solid var(--secondary-color);
}

.interests {
    grid-area: interests;
}

.social {
    grid-area: social;
}

.langages {
    grid-area: langages;
}

.contacts {
    grid-area: contacts;
}

.history {
    grid-area: history;
}

@media screen and (max-width: 1050px) {
    .root {
        padding: var(--space-3);
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-areas:
            'picture history history'
            'picture history history'
            'profile history history'
            'profile history history'
            'profile history history'
            'profile history history';
    }
    .profile {
        display: grid;
        grid-template-areas:
            'contacts'
            'langages'
            'interests'
            'social';
    }
}

@media screen and (min-width: 768px) {
    .picture::after,
    .picture::before {
        position: absolute;
        content: '';
        width: 200px;
        height: calc(50% - var(--space-10));
        z-index: 5;
        right: -0.15em;
        background-color: var(--background-color);
    }

    .picture::after {
        transform-origin: top;
        transform: skew(20deg);
        top: calc(var(--space-10) + 1px);
        border-right: 0.2em solid var(--secondary-color);
    }

    .picture::before {
        transform-origin: bottom;
        transform: skew(-20deg);
        bottom: var(--space-10);
        border-right: 0.2em solid var(--secondary-color);
    }
}

@media screen and (max-width: 768px) {
    .root {
        padding: var(--space-4);
        min-height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'picture'
            'profile'
            'history';
    }
    .profile {
        display: grid;
        grid-template-areas:
            'contacts'
            'langages'
            'interests'
            'social';
    }
}
