.root {
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 1fr;
    padding: var(--space-4);
    flex: 1;
    display: grid;
    grid-template-areas:
        'picture mainView'
        'profile mainView'
        'profile mainView';
}

.profile {
    display: grid;
    grid-template-areas:
        'contacts'
        'languages'
        'interests'
        'social';
    grid-area: profile;
}

.picture {
    position: relative;
    grid-area: picture;
}

.interests {
    grid-area: interests;
}

.social {
    grid-area: social;
}

.languages {
    grid-area: languages;
}

.contacts {
    grid-area: contacts;
}

.mainView {
    grid-area: mainView;
}

@media screen and (min-width: 800px) {
    .picture {
        border-right: 0.2em solid var(--secondary-color);
    }

    .profile {
        border-right: 0.2em solid var(--secondary-color);
    }

    .picture::after,
    .picture::before {
        position: absolute;
        content: '';
        width: 200px;
        height: calc(50% - var(--space-10));
        z-index: 5;
        right: -0.15em;
        background-color: var(--background-color);
    }

    .picture::after {
        transform-origin: top;
        transform: skew(20deg);
        top: calc(var(--space-10) + 1px);
        border-right: 0.2em solid var(--secondary-color);
    }

    .picture::before {
        transform-origin: bottom;
        transform: skew(-20deg);
        bottom: var(--space-10);
        border-right: 0.2em solid var(--secondary-color);
    }
}
