.experiences {
    grid-area: experiences;
}

.formations {
    grid-area: formations;
}

.software {
    align-items: center;
    display: flex;
    grid-area: software;
}

.skills {
    display: flex;
    align-items: center;
    padding: var(--space-4);
    grid-area: skills;
}

.history {
    height: 100%;
    display: grid;
    grid-template-areas:
        'items items'
        'items items'
        'software skills'
        'software skills';
    grid-auto-rows: 1fr;
    grid-auto-columns: 50% 50%;
}

.history-item-description {
    height: 100%;
    display: grid;
    grid-template-areas:
        'experiences'
        'formations';
    position: relative;
    grid-area: items;
}
